doctype html
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      title localghost.io
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
      link(rel='stylesheet', href='/css/normalize.css')
      link(rel='stylesheet', href='/css/layout.css')
      link(rel='stylesheet', href='/css/styling.css')
      link(rel='stylesheet', href='/css/fonts.css')
      link(rel="stylesheet", href="/css/styles/ir_black.css")
      script(src="/js/highlight.pack.js")
      script(src="/js/jquery.min.js")
      script(src="/js/comments.js")
      //script(src='/js/script.js')
  body
    nav
      ul
        //- underscore helps us filter and sort our articles
        - var article = _.chain(contents.articles._.directories).map(function(item) {
        -   // map articles to index pages of subdirectories of 'articles'
        -   return item.index
        - }).compact().sortBy(function(item) { // compact removes any directories w/o an index
        -   // sort them by date
        -   return -item.date
        - }).first(1).value()[0] // and finally take the first 5
        li
          - var blogSelected = (page.url.substring(0, 4) === '/art' ? 'selected' : '')
          a(href=article.url, class=blogSelected) Blog
        li.sep |
        li
          - var blogSelected = (page.url.substring(0, 4) === '/arc'  ? 'selected' : '')
          a(href='/archive.html', class=blogSelected)#archive Archives
        li.sep |
        li
          - var blogSelected = (page.url.substring(0, 4) === '/abo'  ? 'selected' : '')
          a(href='/about-me.html', class=blogSelected) About Me

    header.clearfix
      //img#logo(src='/images/backgrounds/logo-32.png')      
      h1 
        a(href='/') localghost.io
        span.blink _
    section.content
    block content
    script hljs.initHighlightingOnLoad(); 
       
